/* :root {
    --gridList-column: 250px;
    --gridList-rows: 250px;
    --gridList-gap: 6px;
  }
  
  .ListOfGifs {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(auto-fit, minmax(var(--gridList-column), 1fr));
    grid-auto-rows: var(--gridList-rows);
    grid-template-rows: masonry;
    grid-auto-flow: row dense;
    grid-gap: var(--gridList-gap, 6px);
    gap: var(--gridList-gap, 6px);
    align-items: center;
  }
  
  @media screen and (min-width: 37.5rem) {
    :root {
      --gridList-column: 180px;
      --gridList-rows: 200px;
    }
  }
  
  @media screen and (min-width: 60rem) {
    :root {
      --gridList-column: 300px;
      --gridList-rows: 210px;
    }
  } */

  :root{
    --results-columns:2;
  }

  .ListOfGifs{
    column-count: var(--results-columns);
    column-gap: .5em;
  }

  .ListOfGifs-item{
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    background-color: #eee;
    display: inline-block;
    width:100%;
  }

  @media (min-width: 600px){
    :root {
      --result-columns:3;
    }
  }

  @media (min-width: 800px){
    :root {
      --result-columns:4;
    }
  }