.App {
  text-align: center;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding:16px;
}

.App-title {
  color: white;
  margin: 0.6rem;
  text-align: left;
  text-transform: capitalize;
}

.App-link {
  color: #61dafb;
}

.App-wrapper {
	width: 100%;
	max-width: 90rem;
	margin: 0 auto;
	padding: 0 0.5em;
}

